Repository SmashStudy/ESquad-serverless-monorepo, pull requests merged in 2024-12, with the labels that each got.

#103 [#102] 스트리밍 package.json 문제 해결
  stream-frontend/package.json
Labels: streaming, fix

#106 [#101] 스토리지 서비스 리팩토링
  backend/storage/package-lock.json
  backend/storage/serverless.yml
  backend/storage/src/handlers/deleteFile.mjs
  backend/storage/src/handlers/downloadFile.mjs
  backend/storage/src/handlers/fetchFileMetadata.mjs
  backend/storage/src/handlers/getUserUsage.mjs
  backend/storage/src/handlers/storeFileMetadata.mjs
  backend/storage/src/handlers/uploadFile.mjs
  backend/storage/src/tests/deleteFile.test.mjs
  backend/storage/src/tests/fetchFileMetadata.test.mjs
  backend/storage/src/tests/generatePresignedUrl.test.mjs
  backend/storage/src/tests/getUserUsage.test.mjs
  backend/storage/src/tests/storeFileMetadata.test.mjs
  backend/storage/src/triggers/updateFileMetadataNickname.mjs
  backend/storage/src/utils/responseHelper.mjs
  backend/storage/src/utils/s3Utils.mjs
  frontend/src/components/custom/CustomMui.jsx
  frontend/src/components/storage/FileList.jsx
  frontend/src/components/user/UserStorageUsage.jsx
  frontend/src/hooks/storage/UsePresignedUrl.jsx
  frontend/src/pages/team/study/StudyDetailPage.jsx
  frontend/src/utils/storage/utilities.js
Labels: storage, refactor

#110 [#72] 도서 API 기능
  backend/team/package.json
  backend/team/serverless.yml
  backend/team/service/handler.js
  backend/team/src/handlers/bookHandler.mjs
  backend/team/src/utils/dynamoClient.mjs
  backend/team/src/utils/responseHelper.mjs
  backend/team/src/utils/teamUserValidator.mjs
  backend/team/src/utils/teamValidator.mjs
  frontend/src/App.jsx
  frontend/src/pages/team/book/BookDescription.jsx
  frontend/src/pages/team/book/BookDetailPage.jsx
  frontend/src/pages/team/book/BookListPage.jsx
  frontend/src/pages/team/study/StudyCreationPage.jsx
  frontend/src/utils/bookApi.js
Labels: feature, team, book

#123 [#120] 팀 관련 네비게이션 리팩토링
  backend/team/src/handlers/teamHandler.mjs
  backend/team/src/services/teamService.mjs
  frontend/src/App.jsx
  frontend/src/components/custom/Loading.jsx
  frontend/src/components/header/Appbar.jsx
  frontend/src/components/header/SidebarComponent.jsx
  frontend/src/components/team/TeamCreationDialog.jsx
  frontend/src/components/team/TeamCreationHorizontalLinerStepper.jsx
  frontend/src/components/user/UserUpdate.jsx
  frontend/src/context/TeamContext.jsx
  frontend/src/index.css
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/team/TeamMainPage.jsx
  frontend/src/utils/team/TeamApi.jsx
Labels: bug, refactor, team, ui
